body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width:200px;
    float:left;
    margin-left:20px;
    margin-right: 10px;
}
.allmenu{
    list-style: none;
    float:right;
}
.eachmenu{
    display:inline;
    color:white;
    font-size:130%;
    margin-right:30px;
    font-weight:bold;
    cursor:pointer;
    background-color: black;
    padding-right: 20px;
    padding-left:20px;
    border-radius: 30px;
}
.eachmenu:hover{
    color:gold;
    border-bottom:1px solid goldenrod;
    transition: all 0.3s ease-in;
    padding-bottom: 6px;
}
header{
    background-image:linear-gradient(to right,rgba(255,255,255,1),
    rgba(255,255,255,0)),url("background1.png");
    height:100vh;
    background-position: center;
    
}
.mainmessage{
    top:50%;
    position:absolute;
    left:20%;
    font-size: 300%;
    color: black;
    

}
.buttoncontainer{
    
    margin-top:15px;


}
.button{
    text-decoration:none;
    margin-right:15px;
    background-color:white;
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    font-size:40px;
    z-index:-2;


}
.button:hover{
    color:goldenrod;
    transition:all 0.3s ease-in;
    background-color:aquamarine;
    padding-left:10px;
    padding-right:10px;

}